<div class="alert alert-secondary border-rounded border-dark display-4">{{ quiz.title }}</div>
<hr>

<div class="card border-dark mb-3" *ngFor="let question of questions; let questionNumber = index">
  <div class="card-header alert-secondary border-dark">Question {{ questionNumber + 1}} of {{ questions.length }}</div>

  <div class="card-body text-dark" >
    {{ question.questionText }}
    <div *ngFor="let answer of question.answers">
      <div>
        <strong>{{ answer.tag }}</strong><span>{{ answer.answerText }}</span>
      </div>
    </div>

  </div>

  <div class="card-footer alert-secondary border-dark d-flex flex-row justify-content-end gap-2">
    <button class="btn btn-info text-white">
      <i class="bi bi-flag"></i>
    </button>
    <button class="btn btn-primary" disabled>Next</button>
  </div>
</div>
