/* You can add global styles to this file, and also import other style files */

.bg-primary {
  background-color: #1d58af !important;
}

.btn-primary {
  background-color: #1d58af !important;
  border-color: #1f60c5 !important;;
}

.text-primary {
  color: #1d58af !important;
}

input.invalid, textarea.invalid, datalist.invalid {
  border-color: #e50a0a;
}

label.invalid {
  color: #e50a0a;
}
